name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore .\src\ConcurrencyAnalyzers.sln
    - name: Build
      run: dotnet build .\src\ConcurrencyAnalyzers.sln --no-restore
    - name: Test
      run: dotnet test .\src\ConcurrencyAnalyzers.sln --no-build
